<!--石蒜插件-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sakana-widget@2.4.1/lib/sakana.min.css"
/>
<style>
    #sakana-widget-chisato {
        position:fixed;
        z-index: 9998;
        bottom:0px;
        right:160px;
    }
    #sakana-widget-takina {
        position:fixed;
        z-index: 9998;
        bottom:0px;
        right:10px;
    }
    #sakana-widget-toggle {
        position:fixed;
        z-index: 9999;
        bottom:15px;
        right:20px;
        background-color: #fff;
        border-radius: 1rem;
        border: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }
    #sakana-widget-toggle:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    html[data-scheme="dark"] {
        #sakana-widget-toggle {
            background-color: #424242;
            color: #fff;
        }
    }
    @media only screen and (max-width: 768px) {
        #sakana-widget-chisato {
            display:none;
        }
        #sakana-widget-takina {
            display:none;
        }
        #sakana-widget-toggle {
            display:none;
        }
    }
    @media print {
        .noprint {
            display: none 
        }
    }
</style>
<div class="noprint" id="sakana">
    <div class="noprint" id="sakana-widget-chisato"></div>
    <div class="noprint" id="sakana-widget-takina"></div>
</div>
<button class="noprint" id="sakana-widget-toggle" onclick="toggleSakanaWidgetHidden()">关闭/打开挂件</button>
<script>
    
  function initSakanaWidget() {
    if (localStorage.getItem("sakana-widget-hidden") === null){
      localStorage.setItem("sakana-widget-hidden", "false");
    }
    if (localStorage.getItem("sakana-widget-hidden") === "true"){
      document.getElementById("sakana").style.display = "none";
    }
    chisato = new SakanaWidget({ threshold: 0.5, controls: false, character: 'chisato' }).setState({r: 1.2}).mount('#sakana-widget-chisato')
    takina = new SakanaWidget({ threshold: 0, controls: false, character: 'takina' }).mount('#sakana-widget-takina')
  }
  function toggleSakanaWidgetHidden() {
    const elementId = "sakana";
    const element = document.getElementById(elementId);
    // 使浏览器记住隐藏状态，使用localStorage
    if (localStorage.getItem("sakana-widget-hidden") === "true"){
      element.style.display = "block";
      localStorage.setItem("sakana-widget-hidden", "false");
    } else {
      element.style.display = "none";
      localStorage.setItem("sakana-widget-hidden", "true");
    }
  }
</script>
<script
  async
  onload="initSakanaWidget()"
  src="https://cdn.jsdelivr.net/npm/sakana-widget@2.4.1/lib/sakana.min.js"
></script>
<!--在非主页中将插件隐藏
<script>
    // 要隐藏的元素的 ID
    const elementId = "sakana";
  
    // 获取当前页面 URL 的路径部分
    const path = window.location.pathname;
  
    // 如果当前页面不是网站根目录
    if (path !== "/") {
      // 获取要隐藏的元素
      const element = document.getElementById(elementId);
  
      // 如果找到了要隐藏的元素
      if (element) {
        // 隐藏该元素
        element.style.display = "none";
      }
    }
  </script>
-->